.home-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 3em;
}

.user-info {
  text-align: right;
}

.sign-out {
  background: none;
  border: none;
  cursor: pointer;
  text-decoration: underline;
}

.nav-bar {
  display: flex;
  justify-content: space-evenly;
  padding: 10px 0;
  background-color: #f0f0f0;
}

.nav-link {
  background: none;
  border: none;
  font-weight: bold;
  font-size: 1.2em;
  cursor: pointer;
}

.search-section .input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%; /* Or a specific width if you prefer */
}

.search-input {
  width: 100%;
  padding: 10px 40px; /* Adjust left and right padding to make space for icons */
  font-size: 1em;
  border: 2px solid #ccc;
  background-color: rgba(255, 255, 255, 0.9);
  position: relative; /* Ensure the input is positioned relatively within its parent */
}

.search-icon {
  position: absolute;
  top: 50%; /* Align vertically at the center of the input */
  transform: translateY(-50%); /* Adjust vertically to truly center the icon */
  width: 20px; /* Smaller width for a 'tiny' appearance */
  height: 20px; /* Equal height to maintain aspect ratio */
}

.search-left {
  left: 10px; /* Position the chef icon on the far left inside the input */
}

.search-right {
  right: 10px; /* Position the search button on the far right inside the input */
}



.banner img {
  width: 100%;
  height: auto; /* Maintains aspect ratio */
  margin-top: -150px; /* Adjusted to scroll down the image */
}

.recipes-container {
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #ffffff; /* Ensures white background around recipes and button */
}

.recipes-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.my-recipes {
  font-size: 3em;
  font-family: Inika;
}

.create-recipe {
  padding: 5px 10px;
  font-size: 0.8em;
  cursor: pointer;
  color: black; /* Set text color to black */
  background: none; /* Remove background */
  border: none; /* Remove border */
  text-decoration: underline; /* Optional: if you want it to look clickable */
  font-family: Inika;
}

.recipe {
  background-color: #f0f0f0; /* Grey background for recipes */
  padding: 10px;
  margin-bottom: 10px;
}

.recipe-details {
  display: inline-block;
  vertical-align: top;
  width: 70%;
  font-family: Inika;
}

.recipe-title {
  font-size: 1.2em; /* Increase font size for recipe titles */
  font-weight: bold; /* Make recipe titles bold */
  font-family: Inika;
}

.recipe-time-more {
  text-align: right;
  float: right;
  width: 28%;
  font-family: Inika;
}

.recently-searched-container {
  padding-top: 20px;
}

.ingredients-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  font-size: 2em; /* Larger font size for ingredients */
}

.ingredient {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border: 1px solid #ccc;
  padding: 5px;
  text-align: center;
}

.bullet {
  margin-right: 10px; /* Adjust spacing between bullet and text */
  font-size: 10px;
}

.ingredient-text {
  /* Additional styling for the ingredient text if needed */
  font-family: Inika;
}

.banner {
  position: relative; /* Establishes a stacking context */
  overflow: hidden;
  width: 100%;
  height: 600px; /* Adjust height as needed */
}

.search-section {
  position: absolute;
  top: 50%; /* Centers vertically */
  left: 50%;
  transform: translate(-50%, -50%); /* Adjusts for exact centering */
  z-index: 2; /* Ensures it's above the background image */
}

.bullet {
  font-size: 0.2em; /* Adjusts the font size to make the bullet tinier */
  margin-right: 5px; /* Adjust if needed to align the text properly */
}

.recipe-title {
  font-size: 1.2em; /* Increase font size for recipe titles */
  font-weight: bold; /* Make recipe titles bold */
}

.recipe-time-more {
  font-size: 1.2em; /* Increase font size for estimated time */
  font-weight: bold; /* Make estimated time bold */
  text-align: right;
  float: right;
  width: 28%;
}

.more-link {
  color: black; /* Change text color to black */
  font-size: 0.8em; /* Decrease font size */
  text-decoration: underline; /* Underline the link */
  cursor: pointer; /* Change cursor to pointer to indicate clickable */
}

.recent-searches {
  font-size: 40px;
  font-family: Inika;
}

@font-face {
  font-family: NotoSans;
  src: url(../fonts/NotoSans.ttf);
}

@font-face {
font-family: Inika;
src: url(../fonts/Inika-Regular.ttf);
}
